
h1,h2,h3,h4,h5,h6,.brand-logo{
	font-family: 'Acme', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Quattrocento Sans', sans-serif;
  background-size: 100%;
}

.home-buttons {
  margin: 4px;
  width: 215px
}

.home, .signin, .signup{
  background-color: black;
  min-height: 1000px;
};
.home-banner{
  margin-top: 200px
}

#slide-out{
  padding: 20px;
}

.container-mde {
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 8px;
  margin: 20px;
}
.create-page {
  margin-top : 55px;
}