$header-font: 'Aclonica', sans-serif;
$body-font: 'Open Sans', sans-serif;

h1,h2,h3,h4,h5,h6,.brand-logo{
	font-family: $header-font;
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
  font-family: $body-font;
  font-weight: 300;
  background-size: 100%;
}

.home-buttons {
  margin: 4px;
  width: 100%;
  color: #000;
}

.home, .signin, .signup{
  background-color: black;
  height: 100vh;
};


.heading-wrapper{
  background: url('../assets/img/idea-bg.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.overlay{
  padding-top: 20%;
  background-color: rgba(0, 0, 0, .75);
  height: 100%;
}
.overlay-authentication{
  padding-top: 5%;
  background-color: rgba(0, 0, 0, .75);
  height: 100%;
}
.auth-header{
  a{
    color: #fff !important;
  }
  color: #fff;
}
.home-banner{
  margin-top: 200px
}

#slide-out{
  padding: 20px;
}

.update-profile{
  margin-top: 30%;
  h5{
    text-align: center;
  }
}

.card-tag{
  .card{
    border-radius: 20px;
  }
  a{
    color: #000;
  }
}
.container-mde {
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 8px;
  margin: 20px;
}

.create-page {
  margin-top : 55px;
}

.get-started-btn{
  width: 100%;
  background-color: #fff !important;
  color: #49a84c !important;
  border: 2px solid #49a84c !important;
}
.get-started-btn:hover{
  background-color: #49a84c !important;
  color: #fff !important;
  border: 2px #49a84c !important;
}

.input-field-auth{
  color: #fff;
}
.category-row{
  margin-top: 5%;
}

.login-btn{
  width: 100%;
  background-color: #49a84c !important;
  color: #fff !important;
}
.login-btn:hover{
  background-color: #000 !important;
  border: 2px solid #49a84c !important;
}

.rating-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rating-star-wrapper {
  width: 100%;
  height: 300px;
}
.rating-container h6{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 400;
}
.rating-container p{
  text-align: center;
  color: #000000;
  margin-top: 10px;
  font-weight: 600;
}
.rating-star-wrapper {
  width: 100%;
  height: 240px;
  display: flex;
  min-width: fit-content;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
}
.star {
  font-size: 17em;
  color: rgb(238, 200, 31) !important;
}
.ratings {
  font-size: 4em;
  color: white;
}
.react-rater-star.is-active {
  color: rgb(238, 200, 31)!important;
}

.react-rater-star {
  font-size: 3em !important;
}
.react-rater-star.is-active-half:before {
  color: rgb(238, 200, 31) !important;
}
.rui.btn-default.flat.ratings-btn, .rui.btn-default.flat.review-btn {
  margin-top: .5em;
  background-color: #5cde86;
  color: white;
}

.react-rater-star.will-be-active {
  color: rgb(238, 200, 31) !important;
}

@media (max-width: 991px) {
  .rating-container{
    margin-bottom: 25px;
  }
}

a.active{
  color: green !important
}